<!DOCTYPE html>
<html>
<head>
	<title>Message Board</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
	<style type="text/css">
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<h1>Message Board</h1>
			<hr>
		</div>
		<div class="row">
			<form class="col s12" action="/post" method="post">
				<div class="row">
					<div class="input-field col s4">
						<input id="name" type="text" class="validate" name="name">
          				<label for="name">Name</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<textarea id="textarea1" class="materialize-textarea" name="text"></textarea>
         				<label for="textarea1">Message</label>
					</div>
				</div>
				<div class="row right">
					<button class="btn waves-effect waves-light" type="submit" name="action">Post Message</button>
				</div>
			</form>
		</div>
		<% for (var i = 0; i < posts.length; i++) { %>
		<div class="row">
			<h4>Name: <%= posts[i].name %></h4>
			<h4>Message: <%= posts[i].text %></h4>
			<div class="comments col s8 offset-s1">
				<% for (var j = 0; j < posts[i].comments.length; j++) { %>
					<p>Name: <%= posts[i].comments[j].name %></p>
					<p>Comment: <%= posts[i].comments[j].text %></p>
				<% } %>
				<div class="row">
					<form class="col s12" action="/comment/<%= posts[i].id %>" method="post">
						<div class="row">
							<div class="input-field col s4">
								<input id="name" type="text" class="validate" name="name">
		          				<label for="name">Name</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<textarea id="textarea1" class="materialize-textarea" name="text"></textarea>
		         				<label for="textarea1">Comment</label>
							</div>
						</div>
						<div class="row right">
							<button class="btn waves-effect waves-light" type="submit" name="action">Post Comment</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<% } %>
	</div>
</body>
</html>